In [1]:
import pandas as pd

# TheMovieDB.org - tmdb.movies.csv

*only movies from 2010-2018
*from https://developers.themoviedb.org/3/discover/movie-discover

In [7]:
tmdb_df = pd.read_csv("data/tmdb.movies.csv.gz")
tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [8]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

# TheMovieDB.org - tn.movie_budgets.csv

*includes all movies from https://www.the-numbers.com/movie/budgets/all

In [13]:
tn_budgets_df = pd.read_csv("data/tn.movie_budgets.csv.gz")
tn_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [14]:
tn_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

# Rotten Tomatoes - Reviews

*from https://www.kaggle.com/rpnuser8182/rotten-tomatoes

In [22]:
rt_reviews_df = pd.read_csv("data/rt.reviews.tsv.gz", sep="")
rt_reviews_df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 33, saw 2

In [26]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 40195 entries, (3	A distinctly gallows take on contemporary financial mores,  as one absurdly rich man's limo ride across town for a haircut functions as a state-of-the-nation discourse. 	3/5	fresh	PJ Nabarro	0	Patrick Nabarro	November 10) to (2000		3/5	fresh	Nicolas Lacroix	0	Showbizz.net	November 12,  2002)
Data columns (total 1 columns):
id	review	rating	fresh	critic	top_critic	publisher	date    17184 non-null float64
dtypes: float64(1)
memory usage: 994.7+ KB

# Rotten Tomatoes - Movie Info

In [24]:
rt_movie_df = pd.read_csv("data/rt.movie_info.tsv.gz")
rt_movie_df.head()

ParserError: Error tokenizing data. C error: Expected 25 fields in line 7, saw 28

In [25]:
rt_movie_df.info()

NameError: name 'rt_movie_df' is not defined

# IMDB Title Ratings

*all IMDB from 2010-2018

In [28]:
imdb_title_ratings_df = pd.read_csv("data/imdb.title.ratings.csv.gz")
imdb_title_ratings_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [29]:
imdb_title_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

# IMDB Title Principals

In [30]:
imdb_title_principals_df = pd.read_csv("data/imdb.title.principals.csv.gz")
imdb_title_principals_df.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [31]:
imdb_title_principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB