In [1]:
import pandas as pd

# TheMovieDB.org - tmdb.movies.csv

*only movies from 2010-2018
*from https://developers.themoviedb.org/3/discover/movie-discover

In [7]:
tmdb_df = pd.read_csv("data/tmdb.movies.csv.gz")
tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [8]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

# TheMovieDB.org - tn.movie_budgets.csv

*includes all movies from https://www.the-numbers.com/movie/budgets/all

In [13]:
tn_budgets_df = pd.read_csv("data/tn.movie_budgets.csv.gz")
tn_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [14]:
tn_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB

# Rotten Tomatoes - Reviews

*from https://www.kaggle.com/rpnuser8182/rotten-tomatoes

In [39]:
rt_reviews_df = pd.read_csv("data/rt.reviews.tsv.gz", delimiter='\t', encoding='latin-1')
rt_reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [40]:
rt_reviews_df.info

<bound method DataFrame.info of          id                                             review rating   fresh  \
0         3  A distinctly gallows take on contemporary fina...    3/5   fresh
1         3  It's an allegory in search of a meaning that n...    NaN  rotten
2         3  ... life lived in a bubble in financial dealin...    NaN   fresh
3         3  Continuing along a line introduced in last yea...    NaN   fresh
4         3             ... a perverse twist on neorealism...     NaN   fresh
5         3  ... Cronenberg's Cosmopolis expresses somethin...    NaN   fresh
6         3  Quickly grows repetitive and tiresome, meander...      C  rotten
7         3  Cronenberg is not a director to be daunted by ...    2/5  rotten
8         3  Cronenberg's cold, exacting precision and emot...    NaN   fresh
9         3  Over and above its topical urgency or the bit ...    NaN   fresh
10        3  Cosmopolis" is a hypnotic examination of our m...    NaN   fresh
11        3  While not one of Cronenberg's stronger films, ...     B-   fresh
12        3  Robert Pattinson works mighty hard to make Cos...    2/4  rotten
13        3  The anger over the injustice of the financial ...      B   fresh
14        3  For those who like their Cronenberg thick and ...    3/4   fresh
15        3  For better or worse - often both - Cosmopolis ...    3/5   fresh
16        3  For one of the smartest films I've seen in a w...    4/5   fresh
17        3      Its major problem is that it's not cinematic.      B   fresh
18        3  It's fascinating to watch Pattinson actually a...    2/4  rotten
19        3  A black comedy as dry and deadpan as a bleache...    4/4   fresh
20        3  While 'Cosmopolis' is mostly emotionless and a...   6/10   fresh
21        3  In the past, Cronenberg has used such deadpan ...    1/4  rotten
22        3  ... a movie about a sentient zombie, trapped i...      8   fresh
23        3  Those who said Don DeLillo's book was unfilmab...    2/5  rotten
24        3  The rapid dialogue is dry and mannered, like a...  2.5/4  rotten
25        3  Cosmopolis" is proof that a film can be provoc...   4/10  rotten
26        3  It's fascinating but anti-cinematic and a frus...    NaN   fresh
27        3  Throws heady ideas at you faster than Michael ...  2.5/4   fresh
28        3  A master filmmaker's rumination on capitalism ...    NaN   fresh
29        3  David Cronenberg takes a wayward shot at makin...  2.0/5  rotten
...     ...                                                ...    ...     ...
54402  2000  The film is a contrivance, as artificial as th...      B   fresh
54403  2000  Reno does what he can in a thankless situation...  1.5/4  rotten
54404  2000  Like being trapped inside a huge video game, w...    2/4  rotten
54405  2000  If you sometimes like to go to the movies to h...      A   fresh
54406  2000                As plain and pedestrian as catsup--    NaN  rotten
54407  2000  One scarcely needs the subtitles to enjoy this...    NaN   fresh
54408  2000  May lack the pungent bite of its title, but it...     C+   fresh
54409  2000  A lightweight, uneven action comedy that freel...    NaN  rotten
54410  2000  A silly, cross-cultural shoot-'em-up -- the so...    2/4   fresh
54411  2000  Don't let the subtitles fool you; the movie on...    2/4  rotten
54412  2000  Reno himself can take credit for most of the m...    3/4   fresh
54413  2000  Wasabi does its job colorfully and entertainin...     C+   fresh
54414  2000  A cheerful enough but imminently forgettable r...  2.5/4  rotten
54415  2000                             Fluffy and disposible.  2.5/5  rotten
54416  2000  One minute, you think you're watching a seriou...    2/4  rotten
54417  2000  The funny thing is, I didn't mind all this con...    NaN   fresh
54418  2000  Slight, but colorful and forward-moving... Was...     C+   fresh
54419  2000            Sleek, shallow, but frequently amusing.  2.5/4   fresh
54420  2000  The spaniel-eyed Jean Reno infuses Hubert with...    3/4   fresh
54421  2000  Manages to be somewhat well-acted, not badly a...  1.5/4  rotten
54422  2000  Arguably the best script that Besson has writt...  3.5/5   fresh
54423  2000          Despite the title, Wasabi isn't so spicy.      C  rotten
54424  2000  Dawdles and drags when it should pop; it doesn...  1.5/5  rotten
54425  2000  Despite Besson's high-profile name being Wasab...    NaN   fresh
54426  2000  The film lapses too often into sugary sentimen...    NaN  rotten
54427  2000  The real charm of this trifle is the deadpan c...    NaN   fresh
54428  2000                                                NaN    1/5  rotten
54429  2000                                                NaN    2/5  rotten
54430  2000                                                NaN  2.5/5  rotten
54431  2000                                                NaN    3/5   fresh

                    critic  top_critic                        publisher  \
0               PJ Nabarro           0                  Patrick Nabarro
1           Annalee Newitz           0                          io9.com
2             Sean Axmaker           0                 Stream on Demand
3            Daniel Kasman           0                             MUBI
4                      NaN           0                     Cinema Scope
5          Michelle Orange           0                 Capital New York
6           Eric D. Snider           0                  EricDSnider.com
7             Matt Kelemen           0               Las Vegas CityLife
8             Sean Axmaker           0                    Parallax View
9             Kong Rithdee           0                     Bangkok Post
10            Tim Grierson           0                         Deadspin
11            Emanuel Levy           0                  EmanuelLevy.Com
12          Christian Toto           0                    Big Hollywood
13            Robert Roten           0              Laramie Movie Scope
14             Marty Mapes           0                      Movie Habit
15               Adam Ross           0                   The Aristocrat
16           Patrick Kolan           0                   Shotgun Cinema
17         Dennis Schwartz           0        Ozus' World Movie Reviews
18           Sean P. Means           0                Salt Lake Tribune
19            John Beifuss           0  Commercial Appeal (Memphis, TN)
20             Chris Sawin           0                     Examiner.com
21          Jason Buchanan           0                         TV Guide
22           Philip Martin           0        Arkansas Democrat-Gazette
23              Mike Scott           0                   Times-Picayune
24            Joe Williams           1          St. Louis Post-Dispatch
25            Justin Craig           0                      FoxNews.com
26             Roger Moore           0             Tribune News Service
27              Eric Melin           0               Scene-Stealers.com
28       Fernando F. Croce           0                      CinePassion
29            Tony Macklin           0                  tonymacklin.net
...                    ...         ...                              ...
54402           Matt Weitz           1              Dallas Morning News
54403          Roger Ebert           1                Chicago Sun-Times
54404   Michael Wilmington           1                  Chicago Tribune
54405        Edward Havens           0                     FilmJerk.com
54406          John Esther           0                  Pasadena Weekly
54407       Richard Roeper           1               Ebert &amp; Roeper
54408        Marshall Fine           0   Journal News (Westchester, NY)
54409         Daniel Eagan           0       Film Journal International
54410      Jonathan Curiel           1          San Francisco Chronicle
54411        John Monaghan           1               Detroit Free Press
54412  Jeffrey M. Anderson           0            Combustible Celluloid
54413         Sean Axmaker           0       Seattle Post-Intelligencer
54414         Mary F. Pols           0               Contra Costa Times
54415    Maitland McDonagh           0                         TV Guide
54416          Tor Thorsen           0                         Reel.com
54417        Andrew Sarris           1                         Observer
54418          Brent Simon           0              Entertainment Today
54419         Gene Seymour           1                          Newsday
54420         Megan Turner           1                    New York Post
54421          Bob Strauss           0           Los Angeles Daily News
54422           Wade Major           0               Boxoffice Magazine
54423                  NaN           0                        E! Online
54424       Manohla Dargis           1                Los Angeles Times
54425           Andy Klein           0                        New Times
54426         Paul Malcolm           1                      L.A. Weekly
54427        Laura Sinagra           1                    Village Voice
54428    Michael Szymanski           0                       Zap2it.com
54429         Emanuel Levy           0                  EmanuelLevy.Com
54430     Christopher Null           0                   Filmcritic.com
54431      Nicolas Lacroix           0                     Showbizz.net

                     date
0       November 10, 2018
1            May 23, 2018
2         January 4, 2018
3       November 16, 2017
4        October 12, 2017
5      September 11, 2017
6           July 17, 2013
7          April 21, 2013
8          March 24, 2013
9           March 4, 2013
10      February 12, 2013
11       February 3, 2013
12       January 15, 2013
13        January 7, 2013
14       October 20, 2012
15     September 27, 2012
16     September 26, 2012
17     September 25, 2012
18     September 14, 2012
19     September 10, 2012
20      September 7, 2012
21      September 7, 2012
22      September 7, 2012
23      September 7, 2012
24      September 6, 2012
25      September 5, 2012
26      September 4, 2012
27      September 4, 2012
28      September 4, 2012
29      September 2, 2012
...                   ...
54402   November 14, 2002
54403    October 20, 2002
54404    October 17, 2002
54405    October 12, 2002
54406     October 8, 2002
54407     October 7, 2002
54408     October 5, 2002
54409     October 5, 2002
54410     October 4, 2002
54411     October 4, 2002
54412     October 4, 2002
54413     October 3, 2002
54414     October 3, 2002
54415     October 2, 2002
54416     October 2, 2002
54417     October 2, 2002
54418  September 30, 2002
54419  September 27, 2002
54420  September 27, 2002
54421  September 27, 2002
54422  September 27, 2002
54423  September 27, 2002
54424  September 26, 2002
54425  September 26, 2002
54426  September 26, 2002
54427  September 24, 2002
54428  September 21, 2005
54429       July 17, 2005
54430   September 7, 2003
54431   November 12, 2002

[54432 rows x 8 columns]>

# Rotten Tomatoes - Movie Info

In [32]:
rt_movie_df = pd.read_csv("data/rt.movie_info.tsv.gz", delimiter='\t')
rt_movie_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [33]:
rt_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.3+ KB

# IMDB Title Ratings

*all IMDB from 2010-2018

In [34]:
imdb_title_ratings_df = pd.read_csv("data/imdb.title.ratings.csv.gz", delimiter="\t")
imdb_title_ratings_df.head()

  tconst,"averagerating","numvotes"
0          tt10356526,"8.3000","31"
1         tt10384606,"8.9000","559"
2           tt1042974,"6.4000","20"
3        tt1043726,"4.2000","50352"
4           tt1060240,"6.5000","21"

In [35]:
imdb_title_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 1 columns):
tconst,"averagerating","numvotes"    73856 non-null object
dtypes: object(1)
memory usage: 577.1+ KB

# IMDB Title Principals

In [36]:
imdb_title_principals_df = pd.read_csv("data/imdb.title.principals.csv.gz")
imdb_title_principals_df.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [37]:
imdb_title_principals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB